@model List<Note>


<table class="table table-hover">
	<tr>
		<th>Title</th>
		<th>Contant</th>
		<th>Action</th>
	</tr>

	@foreach(var item in Model)
	{
		<tr>
			<td>@item.Title</td>
			<td>@item.Content</td>
			<td>
				<a asp-controller="Note" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">edit</a>
				<a asp-controller="Note" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">delete</a>
			</td>
		</tr>
	} 
	
</table>